  body{
      text-align: center;
    }

    #elements {
      text-align: center;
      display: inline-block;
    }

    #elements article {
      display: block;
      height: 210px;
      width: 800px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    #elements div {
      top: 0px;
      height: 200px;
      width: 200px;
      border: 5px solid black;
      display: inline-block;
      text-align: center;
     /* margin: 10px auto;*/
    }
  

    #elements div img {
      text-align: center;
      height: 200px;
      display: inline-block;
      width:200px;
    }
